<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.corphish.nightlight"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCircular">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity android:name=".activities.BedTimeActivity" />
        <activity android:name=".activities.MasterSwitchActivity" />
        <activity android:name=".activities.ProfileCreateActivity" />
        <activity
            android:name=".activities.ColorActivity"
            android:label="@string/title_activity_color"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.corphish.nightlight.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".services.QuickSettingsService"
            android:icon="@drawable/ic_lightbulb_outline"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver android:name=".receivers.StartNLReceiver" />
        <receiver android:name=".receivers.StopNLReceiver" />
        <receiver android:name=".receivers.DarkStartNLReceiver" />
        <receiver
            android:name=".receivers.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ee5e2aeeae7ccde693df6be64bd35d8e8e9f5196" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.corphish.nightlight.activities.MainActivity" />
        </activity>

        <service
            android:name=".services.BootCompleteJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":booting" />

        <receiver
            android:name=".receivers.TaskerIntentReceiver"
            android:permission="">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ProfilesActivity"
            android:label="@string/profile_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.corphish.nightlight.activities.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>