<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.corphish.nightlight">
    <application>
        <meta-data android:name="io.fabric.ApiKey" tools:node="remove" />
    </application>
</manifest>